TABLE.box {
	BORDER-TOP: #b6d4ee 1px solid; 
	BORDER-LEFT: #b6d4ee 0px solid; 
	BORDER-RIGHT: #b6d4ee 0px solid; 
	MARGIN-BOTTOM: 0em; 
	BORDER-COLLAPSE: collapse; 

}
TABLE.box TH {
	PADDING-RIGHT: 1em; 
	PADDING-LEFT: 1em; 
	BORDER-LEFT-WIDTH: 0px; 
	BACKGROUND: url(../images/th4.png) #c6daea repeat-x 50% top; 
	PADDING-BOTTOM: 0.5em; 
	FONT: bold 1em "Century Gothic",Arial,Helvetica,sans-serif; 
	COLOR: #126991; 
	PADDING-TOP: 0.5em; 
	BORDER-TOP: #b6d4ee 1px solid; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	TEXT-ALIGN: left
}

TABLE.box TH.sub {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; FONT-WEIGHT: 700; 
	BACKGROUND: #fff; PADDING-BOTTOM: 0.2em; 
	COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; 
	TEXT-ALIGN: left
}
TABLE.box TD.head {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; 
	FONT-WEIGHT: 700; BACKGROUND: #fff; 
	PADDING-BOTTOM: 0.2em; COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
TABLE.box TH.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box TD.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box TH.pad1 {
	PADDING-TOP: 1em
}
TABLE.box TD.pad1 {
	PADDING-TOP: 1em
}
TABLE.box TH.pad2 {
	PADDING-TOP: 2em
}
TABLE.box TD.pad2 {
	PADDING-TOP: 2em
}
TABLE.box TH.sub STRONG {
	COLOR: #8ea63a
}
TABLE.box TD.head STRONG {
	COLOR: #8ea63a
}
TABLE.box TD.h2 {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; 
	BACKGROUND: #f7fbff; 
	PADDING-BOTTOM: 0.4em; FONT: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; 
	COLOR: #66a3d3; 
	PADDING-TOP: 0.4em; TEXT-ALIGN: right
}
TABLE.box TFOOT TD {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box TD.pager {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box TD {
	PADDING-RIGHT: 1em; 
	PADDING-LEFT: 1em; 
	BORDER-LEFT-WIDTH: 0px; 
	PADDING-BOTTOM: 0.3em; 
	COLOR: #111; 
	PADDING-TOP: 0.3em; 
	BORDER-BOTTOM: #b6d4ee 1px solid

}
TABLE.box .alt TD {
	BACKGROUND: #f7fbff
}
TABLE.box .alt2 TD {
	BACKGROUND: #FF3300
}
TABLE.box .col1 {
	BACKGROUND: #f9fcfe
}
TABLE.box .alt .col1 {
	BACKGROUND: #f4f9fe
}







TABLE.box2 {
	BORDER-TOP: #b6d4ee 1px solid; 
	BORDER-LEFT: #b6d4ee 1px solid; 
	BORDER-RIGHT: #b6d4ee 1px solid; 
	MARGIN-BOTTOM: 0em; 
	BORDER-COLLAPSE: collapse; 

}TABLE.box1 {
	BORDER-TOP: #b6d4ee 1px solid; 
	BORDER-LEFT: #b6d4ee 1px solid; 
	BORDER-RIGHT: #b6d4ee 1px solid; 
	MARGIN-BOTTOM: 2em; 
	BORDER-COLLAPSE: collapse; 

}
TABLE.box1 TH {
	PADDING-RIGHT: 1em; 
	PADDING-LEFT: 1em; 
	BORDER-LEFT: #b6d4ee 1px solid; 
	BORDER-RIGHT: #b6d4ee 1px solid; 
	BACKGROUND: url(../images/th4.png) #c6daea repeat-x 50% top; 
	PADDING-BOTTOM: 0.5em; 
	FONT: bold 1em "Century Gothic",Arial,Helvetica,sans-serif; 
	COLOR: #126991; 
	PADDING-TOP: 0.5em; BORDER-BOTTOM: #b6d4ee 1px solid; TEXT-ALIGN: center
}

TABLE.box1 TH.sub {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; FONT-WEIGHT: 700; 
	BACKGROUND: #fff; PADDING-BOTTOM: 0.2em; 
	COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; 
	TEXT-ALIGN: left
}
TABLE.box1 TD.head {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; 
	FONT-WEIGHT: 700; BACKGROUND: #fff; 
	PADDING-BOTTOM: 0.2em; COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
TABLE.box1 TH.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box1 TD.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box1 TH.pad1 {
	PADDING-TOP: 1em
}
TABLE.box1 TD.pad1 {
	PADDING-TOP: 1em
}
TABLE.box1 TH.pad2 {
	PADDING-TOP: 2em
}
TABLE.box1 TD.pad2 {
	PADDING-TOP: 2em
}
TABLE.box1 TH.sub STRONG {
	COLOR: #8ea63a
}
TABLE.box1 TD.head STRONG {
	COLOR: #8ea63a
}
TABLE.box1 TD.h2 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #f7fbff; PADDING-BOTTOM: 0.4em; FONT: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; COLOR: #66a3d3; PADDING-TOP: 0.4em; TEXT-ALIGN: right
}
TABLE.box TFOOT TD {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box1 TD.pager {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box1 TD {
	PADDING-RIGHT: 1em; 
	PADDING-LEFT: 1em; 
	BORDER-LEFT: #b6d4ee 1px solid; 
	BORDER-RIGHT: #b6d4ee 1px solid; 
	PADDING-BOTTOM: 0.3em; 
	COLOR: #111; 
	PADDING-TOP: 0.3em; 
	BORDER-BOTTOM: #b6d4ee 1px solid
}
TABLE.box1 .alt TD {
	BACKGROUND: #f7fbff
}
TABLE.box1 .col1 {
	BACKGROUND: #f9fcfe
}
TABLE.box1 .alt .col1 {
	BACKGROUND: #f4f9fe
}

TABLE.box2 TH {
	PADDING-RIGHT: 1em; 
	PADDING-LEFT: 1em; 
	BORDER-LEFT-WIDTH: 0px; 
	BACKGROUND: url(../images/th4.png) #c6daea repeat-x 50% top; 
	PADDING-BOTTOM: 0.5em; 
	FONT: bold 0.9em "Century Gothic",Arial,Helvetica,sans-serif; 
	COLOR: #126991; 
	PADDING-TOP: 0.5em; 
	BORDER-TOP: #b6d4ee 1px solid; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	TEXT-ALIGN: left
}

TABLE.box2 TH.sub {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; FONT-WEIGHT: 700; 
	BACKGROUND: #fff; PADDING-BOTTOM: 0.2em; 
	COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; 
	TEXT-ALIGN: left
}
TABLE.box2 TD.head {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; 
	FONT-WEIGHT: 700; BACKGROUND: #fff; 
	PADDING-BOTTOM: 0.2em; COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
TABLE.box2 TH.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box2 TD.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box2 TH.pad1 {
	PADDING-TOP: 1em
}
TABLE.box2 TD.pad1 {
	PADDING-TOP: 1em
}
TABLE.box2 TH.pad2 {
	PADDING-TOP: 2em
}
TABLE.box2 TD.pad2 {
	PADDING-TOP: 2em
}
TABLE.box2 TH.sub STRONG {
	COLOR: #8ea63a
}
TABLE.box2 TD.head STRONG {
	COLOR: #8ea63a
}
TABLE.box2 TD.h2 {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; 
	BACKGROUND: #f7fbff; 
	PADDING-BOTTOM: 0.4em; FONT: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; 
	COLOR: #66a3d3; 
	PADDING-TOP: 0.4em; TEXT-ALIGN: right
}
TABLE.box2 TFOOT TD {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box2 TD.pager {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box2 TD {
	PADDING-RIGHT: 1em; 
	PADDING-LEFT: 1em; 
	BORDER-LEFT-WIDTH: 0px; 
	PADDING-BOTTOM: 0.3em; 
	COLOR: #111; 
	PADDING-TOP: 0.3em; 
	BORDER-BOTTOM: #b6d4ee 1px solid;
	FONT: bold 0.9em "Arial",Arial,Helvetica,sans-serif; 
}
TABLE.box2 .alt TD {
	BACKGROUND: #f7fbff
}
TABLE.box2 .col1 {
	BACKGROUND: #f9fcfe
}
TABLE.box2 .alt .col1 {
	BACKGROUND: #f4f9fe
}
TABLE.box2 TD.head STRONG {
	COLOR: #8ea63a
}
TABLE.box2 TD.h2 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #f7fbff; PADDING-BOTTOM: 0.4em; 
	FONT: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; COLOR: #66a3d3; PADDING-TOP: 0.4em; TEXT-ALIGN: right
}
TABLE.box2 TFOOT TD {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box2 TD.pager {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}


TABLE.box3 {
	BORDER-TOP: #b6d4ee 0px solid; 
	BORDER-LEFT: #b6d4ee 0px solid; 
	BORDER-RIGHT: #b6d4ee 0px solid; 
	MARGIN-BOTTOM: 0em; 
	BORDER-COLLAPSE: collapse; 

}
TABLE.box3 TH {
	PADDING-RIGHT: 1em; 
	PADDING-LEFT: 1em; 
	BORDER-LEFT-WIDTH: 0px; 
	BACKGROUND: url(../images/th4.png) #c6daea repeat-x 50% top; 
	PADDING-BOTTOM: 0.5em; 
	FONT: bold 0.9em "Century Gothic",Arial,Helvetica,sans-serif; 
	COLOR: #126991; 
	PADDING-TOP: 0.5em; 
	BORDER-TOP: #b6d4ee 1px solid; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	TEXT-ALIGN: left
}

TABLE.box3 TH.sub {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; FONT-WEIGHT: 700; 
	BACKGROUND: #fff; PADDING-BOTTOM: 0.2em; 
	COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; 
	TEXT-ALIGN: left
}

TABLE.box3 TD.head {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; 
	FONT-WEIGHT: 700; BACKGROUND: #fff; 
	PADDING-BOTTOM: 0.2em; COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}

TABLE.box3 TH.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}

TABLE.box3 TD.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}

TABLE.box3 TH.pad1 {
	PADDING-TOP: 1em
}

TABLE.box3 TD.pad1 {
	PADDING-TOP: 1em
}

TABLE.box3 TH.pad2 {
	PADDING-TOP: 2em
}

TABLE.box3 TD.pad2 {
	PADDING-TOP: 2em
}

TABLE.box3 TH.sub STRONG {
	COLOR: #8ea63a
}

TABLE.box3 TD.head STRONG {
	COLOR: #8ea63a
}

TABLE.box3 TD.h2 {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; 
	BACKGROUND: #f7fbff; 
	PADDING-BOTTOM: 0.4em; FONT: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; 
	COLOR: #66a3d3; 
	PADDING-TOP: 0.4em; TEXT-ALIGN: right
}

TABLE.box3 TFOOT TD {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}

TABLE.box3 TD.pager {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}

TABLE.box3 TD {
	PADDING-RIGHT: 1em; 
	PADDING-LEFT: 1em; 
	BORDER-LEFT-WIDTH: 0px; 
	PADDING-BOTTOM: 0.3em; 
	COLOR: #111; 
	PADDING-TOP: 0.3em; 
	BORDER-BOTTOM: #b6d4ee 0px solid;
	FONT: bold 0.9em "Arial",Arial,Helvetica,sans-serif; 
}

TABLE.box3 .alt TD {
	BACKGROUND: #f7fbff
}

TABLE.box3 .col1 {
	BACKGROUND: #f9fcfe
}

TABLE.box3 .alt .col1 {
	BACKGROUND: #f4f9fe
}

TABLE.box3 TD.head STRONG {
	COLOR: #8ea63a
}

TABLE.box3 TD.h2 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #f7fbff; PADDING-BOTTOM: 0.4em; 
	FONT: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; COLOR: #66a3d3; PADDING-TOP: 0.4em; TEXT-ALIGN: right
}

TABLE.box3 TFOOT TD {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}

TABLE.box3 TD.pager {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}


TABLE.box5 {
	BORDER-TOP: #FF9900 0px solid;
	BORDER-LEFT: #FF9900 0px solid;
	BORDER-RIGHT: #FF9900 0px solid;
	BORDER-BOTTOM: #FF9900 0px solid;
	MARGIN-BOTTOM: 2em;
	BORDER-COLLAPSE: collapse;

}
TABLE.box5 TH {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	BORDER-LEFT: #FF9900 0px solid;
	BORDER-RIGHT: #FF9900 0px solid;
	BACKGROUND: url(../images/th4.png) #EEF17C repeat-x 50% top;
	PADDING-BOTTOM: 0.5em;
	COLOR: #126991;
	PADDING-TOP: 0.5em;
	BORDER-BOTTOM: #FF9900 0px solid;

}

TABLE.box5 TH.sub {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; FONT-WEIGHT: 700; 
	BACKGROUND: #fff; PADDING-BOTTOM: 0.2em; 
	COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; 
	TEXT-ALIGN: left
}
TABLE.box5 TD.head {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; 
	FONT-WEIGHT: 700; BACKGROUND: #fff; 
	PADDING-BOTTOM: 0.2em; COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
TABLE.box5 TH.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box5 TD.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box5 TH.pad1 {
	PADDING-TOP: 1em
}
TABLE.box5 TD.pad1 {
	PADDING-TOP: 1em
}
TABLE.box5 TH.pad2 {
	PADDING-TOP: 2em
}
TABLE.box5 TD.pad2 {
	PADDING-TOP: 2em
}
TABLE.box5 TH.sub STRONG {
	COLOR: #8ea63a
}
TABLE.box5 TD.head STRONG {
	COLOR: #8ea63a
}
TABLE.box5 TD.h2 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #f7fbff; PADDING-BOTTOM: 0.4em; FONT: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; COLOR: #66a3d3; PADDING-TOP: 0.4em; TEXT-ALIGN: right
}
TABLE.box5 TFOOT TD {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box5 TD.pager {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box5 TD {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	BORDER-LEFT: #EEF17C 0px solid;
	BORDER-RIGHT: #EEF17C 1px solid;
	PADDING-BOTTOM: 0.3em;
	COLOR: #111;
	PADDING-TOP: 0.3em;
	BORDER-BOTTOM: #EEF17C 1px solid;

}
TABLE.box5 .alt TD {
	BACKGROUND: #f7fbff
}
TABLE.box5 .col1 {
	BACKGROUND: #f9fcfe
}
TABLE.box5 .alt .col1 {
	BACKGROUND: #f4f9fe
}


TABLE.box6 {
	BORDER-TOP: #FFCC00 0px solid;
	BORDER-LEFT: #FFCC00 0px solid;
	BORDER-RIGHT: #FFCC00 0px solid;
	BORDER-BOTTOM: #FFCC00 0px solid;
	MARGIN-BOTTOM: 2em;
	BORDER-COLLAPSE: collapse;
}
TABLE.box6 TH {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	BORDER-LEFT: #FFCC00 0px solid;
	BORDER-RIGHT: #FFCC00 0px solid;
	BACKGROUND: url(../images/th4.png) #FFCC00 repeat-x 50% top;
	PADDING-BOTTOM: 0.5em;
	COLOR: #126991;
	PADDING-TOP: 0.5em;
	BORDER-BOTTOM: #FFCC00 0px solid;

}

TABLE.box6 TH.sub {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; FONT-WEIGHT: 700; 
	BACKGROUND: #fff; PADDING-BOTTOM: 0.2em; 
	COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; 
	TEXT-ALIGN: left
}
TABLE.box6 TD.head {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; 
	FONT-WEIGHT: 700; BACKGROUND: #fff; 
	PADDING-BOTTOM: 0.2em; COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
TABLE.box6 TH.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box6 TD.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box6 TH.pad1 {
	PADDING-TOP: 1em
}
TABLE.box6 TD.pad1 {
	PADDING-TOP: 1em
}
TABLE.box6 TH.pad2 {
	PADDING-TOP: 2em
}
TABLE.box6 TD.pad2 {
	PADDING-TOP: 2em
}
TABLE.box6 TH.sub STRONG {
	COLOR: #8ea63a
}
TABLE.box6 TD.head STRONG {
	COLOR: #8ea63a
}
TABLE.box6 TD.h2 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #f7fbff; PADDING-BOTTOM: 0.4em; FONT: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; COLOR: #66a3d3; PADDING-TOP: 0.4em; TEXT-ALIGN: right
}
TABLE.box6 TFOOT TD {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box6 TD.pager {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box6 TD {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	BORDER-LEFT: #FFCC00 0px solid;
	BORDER-RIGHT: #FFCC00 1px solid;
	PADDING-BOTTOM: 0.3em;
	COLOR: #111;
	PADDING-TOP: 0.3em;
	BORDER-BOTTOM: #FFCC00 1px solid;

}
TABLE.box6 .alt TD {
	BACKGROUND: #f7fbff
}
TABLE.box6 .col1 {
	BACKGROUND: #f9fcfe
}
TABLE.box6 .alt .col1 {
	BACKGROUND: #f4f9fe
}

TABLE.box7 {
	BORDER-TOP: #FFCC00 0px solid;
	BORDER-LEFT: #FFCC00 0px solid;
	BORDER-RIGHT: #FFCC00 0px solid;
	BORDER-BOTTOM: #FFCC00 0px solid;
	MARGIN-BOTTOM: 2em;
	BORDER-COLLAPSE: collapse;
}
TABLE.box7 TH {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	BORDER-LEFT: #CCC 0px solid;
	BORDER-RIGHT: #CCC 0px solid;
	BACKGROUND: url(../images/th4.png) #CCC repeat-x 50% top;
	PADDING-BOTTOM: 0.5em;
	COLOR: #126991;
	PADDING-TOP: 0.5em;
	BORDER-BOTTOM: #CCC 0px solid;

}

TABLE.box7 TH.sub {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; FONT-WEIGHT: 700; 
	BACKGROUND: #fff; PADDING-BOTTOM: 0.2em; 
	COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; 
	TEXT-ALIGN: left
}
TABLE.box7 TD.head {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; 
	FONT-WEIGHT: 700; BACKGROUND: #fff; 
	PADDING-BOTTOM: 0.2em; COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
TABLE.box7 TH.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box7 TD.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}
TABLE.box7 TH.pad1 {
	PADDING-TOP: 1em
}
TABLE.box7 TD.pad1 {
	PADDING-TOP: 1em
}
TABLE.box7 TH.pad2 {
	PADDING-TOP: 2em
}
TABLE.box7 TD.pad2 {
	PADDING-TOP: 2em
}
TABLE.box7 TH.sub STRONG {
	COLOR: #8ea63a
}
TABLE.box7 TD.head STRONG {
	COLOR: #8ea63a
}
TABLE.box7 TD.h2 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #f7fbff; PADDING-BOTTOM: 0.4em; FONT: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; COLOR: #66a3d3; PADDING-TOP: 0.4em; TEXT-ALIGN: right
}
TABLE.box7 TFOOT TD {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box7 TD.pager {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}
TABLE.box7 TD {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	BORDER-LEFT: #CCC 0px solid;
	BORDER-RIGHT: #CCC 1px solid;
	PADDING-BOTTOM: 0.3em;
	COLOR: #111;
	PADDING-TOP: 0.3em;
	BORDER-BOTTOM: #CCC 1px solid;

}
TABLE.box7 .alt TD {
	BACKGROUND: #f7fbff
}
TABLE.box7 .col1 {
	BACKGROUND: #f9fcfe
}
TABLE.box7 .alt .col1 {
	BACKGROUND: #f4f9fe
}


TABLE.box8 {
	BORDER-TOP: #b6d4ee 0px solid; 
	BORDER-LEFT: #b6d4ee 1px solid; 
	BORDER-RIGHT: #b6d4ee 1px solid; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	MARGIN-BOTTOM: 0em; 
	BORDER-COLLAPSE: collapse; 

}
TABLE.box8 TH {
	PADDING-RIGHT: 1em; 
	PADDING-LEFT: 1em; 
	BORDER-LEFT-WIDTH: 0px; 
	BACKGROUND: url(../images/th4.png) #c6daea repeat-x 50% top; 
	PADDING-BOTTOM: 0.5em; 
	FONT: bold 11px "Century Gothic",Arial,Helvetica,sans-serif; 
	COLOR: #126991; 
	PADDING-TOP: 0.5em; 
	BORDER-TOP: #b6d4ee 1px solid; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	TEXT-ALIGN: left
}

TABLE.box8 TH.sub {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; FONT-WEIGHT: 700; 
	BACKGROUND: #fff; PADDING-BOTTOM: 0.2em; 
	COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; 
	BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; 
	TEXT-ALIGN: left
}

TABLE.box8 TD.head {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; 
	FONT-WEIGHT: 700; BACKGROUND: #fff; 
	PADDING-BOTTOM: 0.2em; COLOR: #777; LINE-HEIGHT: 1.5; 
	PADDING-TOP: 0.2em; BORDER-BOTTOM: #b6d4ee 1px solid; 
	FONT-FAMILY: Tahoma,Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}

TABLE.box8 TH.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}

TABLE.box8 TD.border2 {
	BORDER-BOTTOM-WIDTH: 2px
}

TABLE.box8 TH.pad1 {
	PADDING-TOP: 1em
}

TABLE.box8 TD.pad1 {
	PADDING-TOP: 1em
}

TABLE.box8 TH.pad2 {
	PADDING-TOP: 2em
}

TABLE.box8 TD.pad2 {
	PADDING-TOP: 2em
}

TABLE.box8 TH.sub STRONG {
	COLOR: #8ea63a
}

TABLE.box8 TD.head STRONG {
	COLOR: #8ea63a
}

TABLE.box8 TD.h2 {
	PADDING-RIGHT: 0.5em; 
	PADDING-LEFT: 0.5em; 
	BACKGROUND: #f7fbff; 
	PADDING-BOTTOM: 0.4em; FONT: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; 
	COLOR: #66a3d3; 
	PADDING-TOP: 0.4em; TEXT-ALIGN: right
}

TABLE.box8 TFOOT TD {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}

TABLE.box8 TD.pager {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}

TABLE.box8 TD {
	PADDING-RIGHT: 1em; 
	PADDING-LEFT: 1em; 
	BORDER-LEFT-WIDTH: 0px; 
	PADDING-BOTTOM: 0.3em; 
	COLOR: #111; 
	PADDING-TOP: 0.3em; 
	BORDER-BOTTOM: #b6d4ee 0px solid;
	FONT: bold 11px "Arial",Arial,Helvetica,sans-serif; 
}

TABLE.box8 .alt TD {
	BACKGROUND: #f7fbff
}

TABLE.box8 .col1 {
	BACKGROUND: #f9fcfe
}

TABLE.box8 .alt .col1 {
	BACKGROUND: #f4f9fe
}

TABLE.box8 TD.head STRONG {
	COLOR: #8ea63a
}

TABLE.box8 TD.h2 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #f7fbff; PADDING-BOTTOM: 0.4em; 
	FONT: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif; COLOR: #66a3d3; PADDING-TOP: 0.4em; TEXT-ALIGN: right
}

TABLE.box8 TFOOT TD {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}

TABLE.box8 TD.pager {
	BACKGROUND: #e5eff8; VERTICAL-ALIGN: middle; COLOR: #678197
}

